# rmt-nginx.container
[Container]
ContainerName=rmt-nginx
Pod=rmt.pod
Image=registry.suse.com/suse/nginx:latest
PublishPort=80:80
PublishPort=443:443
Network=rmt-network
Volume=/srv/rmt/vhosts.d:/etc/nginx/vhosts.d
Volume=/srv/rmt/ssl:/etc/rmt/ssl
Volume=/srv/rmt/storage:/usr/share/rmt

[Service]
Restart=on-failure

