# rmt-nginx.container
[Unit]
After=rmt-server.service

[Container]
ContainerName=rmt-nginx
Pod=rmt.pod
Image=registry.suse.com/suse/nginx:latest
PublishPort=80:80
PublishPort=443:443
Network=rmt-network
Volume=/srv/rmt/vhosts.d:/etc/nginx/vhosts.d:Z
Volume=/srv/rmt/ssl:/etc/rmt/ssl:Z
Volume=/srv/rmt/storage:/usr/share/rmt:Z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target

