# rmt-server.container
[Unit]
After=rmt-mariadb.service

[Container]
ContainerName=rmt-server
Pod=rmt.pod
Secret=SCC_USERNAME,type=env,target=SCC_USERNAME
Secret=SCC_PASSWORD,type=env,target=SCC_PASSWORD
Environment=MYSQL_HOST=rmt-mariadb MYSQL_DATABASE=rmt MYSQL_USER=rmt MYSQL_PASSWORD=rmt SCC_SYNC=true
Image=registry.suse.com/suse/rmt-server:latest
Network=rmt-network
Volume=/srv/rmt/storage:/var/lib/rmt:Z

[Service]
Restart=on-failure
ExecStartPre=-/usr/bin/mkdir -p /srv/rmt/storage
ExecStartPre=-/usr/bin/chcon -R system_u:object_r:container_file_t:s0 -P /srv/rmt/storage
TimeoutStartSec=500

[Install]
WantedBy=multi-user.target default.target

